body.sermon-detail { background-color: #ffffff !important; }

.filters { margin-top: 0; margin-bottom: 4rem; }

@media (min-width: 992px) { .filters { display: -webkit-box; display: flex; width: 100%; -webkit-box-pack: center; justify-content: center; } }

@media (min-width: 992px) { .filters #module-search { float: none; width: 35%; } }

@media (min-width: 992px) { .filters #sermon-filter { float: none; width: 60%; display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center; } }

@media (min-width: 992px) { .filters #sermon-filter .ui-selectmenu-button { float: none; margin: 0; max-width: 280px; -webkit-box-flex: 1; flex: 1 0; margin-left: 15px; } }

@media (max-width: 767.98px) { .filters #sermon-filter .ui-selectmenu-button { display: none; } }

.ui-selectmenu-menu .ui-menu { max-width: 280px; }

#sermon-layout { padding: 40px 0; }

.sermon-layout article { position: relative; }

.sermon-layout article a.heading-link { color: #0a3a53; }

.sermon-layout article a.image-link { display: block; position: relative; }

.sermon-layout article a.image-link:hover .sermon-inner { opacity: 1; visibility: visible; }

.sermon-layout article .sermon-inner { display: -webkit-box; display: flex; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; text-align: center; -webkit-box-align: center; align-items: center; z-index: 50; transition: .3s; opacity: 0; visibility: hidden; background-color: rgba(0, 0, 0, 0.75); }

.sermon-layout article .sermon-inner .sermon-info { position: relative; width: 100%; padding: .5rem 5%; }

.sermon-layout article img { position: relative; -o-object-fit: cover; object-fit: cover; }

.slick-dots { display: none !important; }

.slick-prev, .slick-next { position: absolute; display: block; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; padding: 0; border: none; outline: none; z-index: 100; transition: .3s; }

.slick-prev:before, .slick-next:before { font-family: 'icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 18px; transition: .3s; }

@media (min-width: 768px) { .slick-prev:before, .slick-next:before { font-size: 30px; } }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0; }

.sermon-layout.sermon-slider { visibility: hidden; opacity: 0; }

.sermon-layout.sermon-slider.slick-initialized { visibility: visible; opacity: 1; }

.sermon-layout.slick-vertical { margin-top: 80px; margin-bottom: 80px; }

.sermon-layout.slick-vertical .slick-prev { top: -40px; left: 50%; margin-left: -15px; color: #0a3a53; }

.sermon-layout.slick-vertical .slick-prev:before { content: "\edb9"; }

.sermon-layout.slick-vertical .slick-next { bottom: -20px; right: 50%; margin-right: -15px; color: #0a3a53; }

.sermon-layout.slick-vertical .slick-next:before { content: "\edc1"; }

.sermon-layout.slick-vertical .slick-list { margin: 0 20px; }

.sermon-layout.slick-vertical .slick-list .slick-slide { margin: 0 0 20px 0; }

.sermon-layout:not(.slick-vertical) { margin: 0; }

.sermon-layout:not(.slick-vertical) .slick-prev { display: none !important; top: -9rem; left: -1rem; width: 30px; height: 100%; color: #0a3a53; text-align: left; }

@media (min-width: 768px) { .sermon-layout:not(.slick-vertical) .slick-prev { top: -11rem; } }

@media (min-width: 992px) { .sermon-layout:not(.slick-vertical) .slick-prev { display: block !important; top: 0; left: -2rem; width: 60px; } }

.sermon-layout:not(.slick-vertical) .slick-prev:hover { opacity: .7; }

.sermon-layout:not(.slick-vertical) .slick-prev:before { position: relative; content: "\edc5"; margin: 0 0 0 .5rem; }

.sermon-layout:not(.slick-vertical) .slick-next { display: none !important; top: -9rem; right: -1rem; width: 30px; height: 100%; color: #0a3a53; text-align: right; }

@media (min-width: 768px) { .sermon-layout:not(.slick-vertical) .slick-next { top: -11rem; } }

@media (min-width: 992px) { .sermon-layout:not(.slick-vertical) .slick-next { display: block !important; top: 0; right: -2rem; width: 60px; } }

.sermon-layout:not(.slick-vertical) .slick-next:hover { opacity: .7; }

.sermon-layout:not(.slick-vertical) .slick-next:before { position: relative; content: "\edbd"; margin: 0 .5rem 0 0; }

.sermon-layout:not(.slick-vertical) .slick-list { padding-right: 40%; }

@media (min-width: 992px) { .sermon-layout:not(.slick-vertical) .slick-list { padding-right: 0; } }

.sermon-layout:not(.slick-vertical) .slick-list .slick-slide { margin: 0 15px; }

.sermon-layout:not(.slick-vertical) .slick-list .slick-slide a { cursor: default; }

.sermon-layout:not(.slick-vertical) .slick-list .slick-slide.slick-active a { cursor: pointer; }

.sermon-row { padding-top: 40px; padding-bottom: 40px; }

/*detail billboard*/
#billboard.sermonVideo { display: block; margin-bottom: 75px; min-height: 316px !important; }

@media (min-width: 768px) { #billboard.sermonVideo { margin-bottom: 200px; min-height: 500px !important; } }

#billboard.sermonVideo .text .inner { position: relative; padding: 80px 0 20px 0; margin-bottom: -75px; }

@media (min-width: 768px) { #billboard.sermonVideo .text .inner { padding: 120px 0 40px 0; margin-bottom: -200px; } }

#billboard.sermonVideo #sermonVideo { position: relative; width: 100%; right: 0; top: auto; bottom: -75px; margin: 0; z-index: 999; transition: .3s; }

@media (min-width: 768px) { #billboard.sermonVideo #sermonVideo { bottom: -200px; } }

#billboard.sermonVideo .container { max-width: 800px; }

#billboard.sermonVideo #sermonVideo-float { position: relative; width: 100%; left: auto; right: auto; top: auto; transition: .3s; }

@media (min-width: 768px) { #billboard.sermonVideo #sermonVideo-float.is-sticky { position: fixed; width: 276px; right: 0; top: 80px; /*match header height*/ } }

@media (min-width: 1200px) { #billboard.sermonVideo #sermonVideo-float.is-sticky { width: 576px; } }

.media-icons { text-align: right; }

.media-icons li { display: inline-block; margin-left: 1.5rem; }

.media-icons li:first-child { margin: 0; }

.media-icons li a { font-size: 1.5rem; text-decoration: none !important; }

.media-icons li a:hover { color: #efefef; }

@media (min-width: 768px) { .media-icons li a { font-size: 2rem; } }

.download-links { margin: 0 0 1rem 0; list-style: none; padding: 0; }

.download-links li { display: inline-block; margin: 0 1rem 0 0; list-style: none; padding: 0; font-weight: 600; }

@media (max-width: 767.98px) { .download-links li.heading { display: block; } }

body.sermon-detail { background-color: #efefef; }

body.sermon-detail #sermon-layout { background-color: #ffffff; }
